<label class="c-drawer-toggle" for="drawer-menu"></label>

<div>
    <input type="checkbox" class="c-drawer-controller" id="drawer-menu">
    <aside class="c-drawer">
        <div class="c-drawer__header">
            <a class="text" href="index.html">
                <img class="c-img--dragon" alt="Ice Dragon" src="https://cdn.glitch.com/8a53e8d1-af21-467f-8691-adaee1250b35%2Fdragon.svg?1504284545840">
            </a>
        </div>

        <div class="c-drawer__body">
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="how_to.html">Gameplay</a>
                </li>

                <li class="c-menu__item">
                    <a href="scan.html">Scanner</a>
                </li>

                <li class="c-menu__item">
                    <a href="prizes.html">Prizes</a>
                </li>

                <li class="c-menu__item">
                    <a href="houses.html">Houses</a>
                </li>
            </ul>
        </div>

        <div class="c-drawer__footer">
            <p class="u-text-small">Made with &hearts; by <a class="u-text-small" target="blank" href="www.whitesmith.co">Whitesmith</a></p>
        </div>
    </aside>
    <label for="drawer-menu" class="c-drawer__backdrop"></label>
</div>